body{
  margin: 0;
  padding: 0;
  background: black;
}
.triangle{
  position: absolute;
  top: calc(50%);
  left: calc(50% - 200px);
  transform: translateY(-50%);
  width: 400px;
  height: 300px;
  --t:10px;  /* Thickness */
  --c:#404040; /* Color */
  background:
    /* Left side */
    linear-gradient(to bottom left,
      transparent 49.5%,var(--c) 50% calc(50% + var(--t)),
      transparent calc(50% + var(--t) + 1px)) right/50% 100%,
    /* right side */
    linear-gradient(to bottom right,
      transparent 49.5%,var(--c) 50% calc(50% + var(--t)),
      transparent calc(50% + var(--t) + 1px)) left/50% 100%,
    /* bottom side*/
    linear-gradient(var(--c),var(--c)) bottom/calc(100% - 2*var(--t)) var(--t);
  background-repeat:no-repeat;
}
.eye{
  width: 180px;
  height: 100px;
  background: #fff;
  margin: 113px auto;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.ball{
  width: 40px;
  height: 40px;
  background: #000;
  position: absolute;
  margin: auto;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  border: 20px solid #333;
}
